<template name="formsection">
  <div class="section active" id="titleSection" data-anchor="titlePage">
    <div class="input-group">
      <div class="row inline-row">
        <h1>I want to have some</h1>
        <form style="position: relative; overflow: visible;">
          <select class="select-box" id="category" required tabindex="1" onchange="changeItem(this)">
              {{#each foodChoices}}
                <option value={{choice}}>
                  {{choice}}
                </option>
              {{/each}}
          </select>
        </form>
      </div>
      <div class="row inline-row">
        <h1>up to</h1>
        <select class="select-box" id="distance" required tabindex="2">
          {{#each distances}}
            <option value={{distance}}>
              {{title}}
            </option>
          {{/each}}
        </select>
        <h1>mile/s from here.</h1>
        <form action="#mapPage">
            <button class="launch-button"
                    onclick="search()" tabindex="2">
                <i class="material-icons">keyboard_arrow_right</i>
            </button>
        </form>
      </div>
    </div>
    <div class="title-name">
      LNCH
    </div>
  </div>

  <script>
    function changeItem(selection) {
      var section = document.getElementById('titleSection');
      var value = selection.value;
      if (value == "Sushi") {
        section.style.backgroundImage = "url('/img/sushi-bg.jpeg')";
      } else if (value == "Pizza") {
        section.style.backgroundImage = "url('/img/pizza-bg.jpg')";
      } else if (value == "Steak") {
        section.style.backgroundImage = "url('/img/steak-bg.jpg')";
      } else if (value == "Dimsum") {
        section.style.backgroundImage = "url('/img/dimsum-bg.jpg')";
      }
    }
  </script>
</template>
