<template name="mapsection">
  <div class="section" id="mapSection" data-anchor="mapPage">
    <!--Map-->
    <div id="map" class="map-view"></div>

    <!--Info Bar-->
    <div class="info-bar">
      <div class="image-bar" id="resImg"></div>
      <div class="title-bar">
        <h3 id="resTitle"></h3>
        <p id="resAddr"></p>
        <div class="info-segment">
            <i class="material-icons">local_phone</i><span id="resPhone"></span>
        </div>
        <div class="info-segment">
            <i class="material-icons">language</i><span id="resWebsite"></span>
        </div>
        <br />
        <div class="icon-segment">
            <span id="resRating"></span>
            <span id="resPrice"></span>
        </div>
      </div>
      <br />
    </div>

    <button class="reroll-button" onclick="search()" tabindex="2">
        Reroll
    </button>
  </div>
</template>
