<template name="mapsection">
  <div class="section" id="mapSection" data-anchor="mapPage">
    <!--Map-->
    <div id="map" class="map-view">
      {{> googleMap name="foodMap" options=mapOptions}}
    </div>

    <!--Info Bar-->
    <div class="info-bar" id="infobar">
      <div class="title-bar">
        <div class="info-line">
          <h3 id="resTitle" class="slide-info"></h3>
        </div>
        <div class="info-line">
          <p id="resAddr" class="slide-info"></p>
        </div>
        <div class="info-segment slide-info">
          <div class="info-line">
            <i class="material-icons slide-info">local_phone</i><span class="slide-info" id="resPhone"></span>
          </div>
          <div class="info-line">
            <i class="material-icons slide-info">language</i><span class="slide-info" id="resWebsite"></span>
          </div>
          <div class="icon-segment slide-info">
              <span id="resRating"></span>
              <span id="resPrice"></span>
          </div>
        </div>
      </div>
    </div>

    <!--Navigate Button-->
    <button class="nav-button slide-down-info" id="navigate" tabindex="2">
        LNCH!
    </button>

    <!--Reroll Button-->
    <button class="reroll-button" id="reroll" tabindex="3">
        Reroll
    </button>
  </div>
</template>
