<template name="formsection">
  <div class="section active" id="titleSection" data-anchor="titlePage">
    <div class="input-group">
      <div class="row inline-row">
        <h1>I want to have some</h1>
        <form style="position: relative; overflow: visible;">
          <select class="select-box" id="category" required tabindex="1">
              {{#each foodChoices}}
                <option value={{terms}}>
                  {{choice}}
                </option>
              {{/each}}
          </select>
        </form>
      </div>
      <br />
      <div class="row inline-row">
        <h1>up to</h1>
        <select class="select-box" id="distance" required tabindex="2">
          {{#each distances}}
            <option value={{distance}}>
              {{title}}
            </option>
          {{/each}}
        </select>
        <h1>mile/s from here.</h1>
        <a class="launch-button" href="#mapPage" id="launch" tabindex="2">
            <i class="material-icons">keyboard_arrow_right</i>
        </a>
      </div>
    </div>
    <div class="title-name">
      LNCH
    </div>
  </div>
</template>
